@tailwind base;
@tailwind components;
@tailwind utilities;

@import "prism.css";

@layer base {
  :root {
    --elastic-out: linear(0,
        0.2178 2.1%,
        1.1144 8.49%,
        1.2959 10.7%,
        1.3463 11.81%,
        1.3705 12.94%,
        1.3726,
        1.3643 14.48%,
        1.3151 16.2%,
        1.0317 21.81%,
        0.941 24.01%,
        0.8912 25.91%,
        0.8694 27.84%,
        0.8698 29.21%,
        0.8824 30.71%,
        1.0122 38.33%,
        1.0357,
        1.046 42.71%,
        1.0416 45.7%,
        0.9961 53.26%,
        0.9839 57.54%,
        0.9853 60.71%,
        1.0012 68.14%,
        1.0056 72.24%,
        0.9981 86.66%,
        1);
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.path {
  stroke-dasharray: 500px 100px;
  animation: animate 100s linear infinite alternate-reverse;
}

@keyframes animate {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 12433.8193359375;
  }
}

span,
a {
  display: inline-block;
}

a,
span,
li {
  transition: all 1s var(--elastic-out);
}